body {
    margin:0;
    text-align: center;
    background-color: #d4e2d4;
    font-family: 'Josefin Slab', serif;
    font-size: 22px;
}
.icon-attr {
    font-family: 'Josefin Slab', serif;
    font-size: 14px;
}
h1{
    color: #df7861;
    margin: 40px auto 0 auto;
}
h2 {
    font-size: 1.5rem;
}

h3 {
    color: #df7861;
}

hr {
    border-style:dotted none none;
    border-color:#ecb390 ;
    border-width: 12px;
    width: 5%;
}

.title {
    font-family: 'Sacramento', cursive;
    font-size: 60px;
}

.circular {
    border-radius: 100%;
}

.middle-container {

}
.top-container {
    background-color:#d4e2d4;
    position:relative;
    padding-top:100px;
}

.top-cloud {
    position: absolute;
    right: 900px;
    top:50px;
    height: 400px;
    width: 400px;
}

.bottom-cloud {
    position: absolute;
    left:950px;
    bottom:300px;
    height: 400px;
    width: 400px;
}

.mountain {
    height:450px;
    width: 450px;
}

.profile-img {
    height: 250px;
    width: 250px;
    margin-top: 40px;
    background-color: #fcf8e8;
}

.code-img {
    height: 150px;
    width: 150px;
}